.preview-docs {
  background: #fff;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  padding: 20px;
  overflow: hidden;
}

.preview-docs .preview-container {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.preview-docs .header {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.preview-docs .header .title {
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 15px;
}

.preview-docs .header .close-preview {
  float: right;
  margin-right: 20px;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.preview-docs .header .close-preview:hover {
  color: rgba(0, 0, 0, 0.7);
}

.preview-docs .list {
  height: calc(100vh - 80px);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 3px 15px 3px;
  border-bottom-left-radius: 10px;
  overflow-y: auto;
}

.preview-docs .list .doc {
  font-size: 0.9em;
  padding-left: 15px;
  min-height: 60px;
  padding-top: 15px;
  margin-bottom: 8px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.preview-docs .list .doc:hover {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.preview-docs .list .doc.active {
  background-color: #fff;
}

.preview-docs .preview {
  height: calc(100vh - 80px);
  overflow: auto;
}

/* File render CSS */
.preview-docs .show-files {
  /* position: fixed;
  height: 80vh;
  width: 50vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  box-shadow: 0px 0px 1000px 1000px rgba(0, 0, 0, 0.5); */
}

.preview-docs .show-files .close-file {
  height: 30px;
  line-height: 30px;
  padding-right: 10px;
  color: #111;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.preview-docs .show-files .close-file i {
  font-size: 14px;
  padding-left: 5px;
}

.preview-docs .show-files .show-image,
.preview-docs .show-files .show-pdf {
  overflow-y: auto;
  background-color: #f6f6f6;
}

.preview-docs .show-files .show-image img {
  max-width: 100%;
}

.preview-docs .show-files .show-pdf embed {
  width: 100%;
  height: calc(100vh - 115px);
}
