<div class="col-xs-12 reset-margin-padding preview-docs">
  <div class="col-xs-12 reset-margin-padding preview-container">
    <div class="header">
      <span class="title">
        Document Preview window
      </span>
      <span class="close-preview" (click)="closePopup()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    </div>
    <div class="col-xs-12 reset-margin-padding">
      <div class="col-xs-3 reset-margin-padding list">
        <div class="h-36 lh-36 pl-5">
          Uploaded Files:
        </div>
        <div class="doc" *ngFor="let f of documentList; let index =  index;" (click)="showDocumentPreview($event, f)">
          {{f.filename}} ({{f.size}})
          <div class="extension">
            extension: {{f.extension}}
          </div>
        </div>
      </div>
      <div class="col-xs-9 reset-margin-padding preview">
        <div class="show-files" *ngIf="showFile">
          <div class="close-file text-right">
            <span (click)="closeFile()">close</span>
            <i class="fa fa-times" (click)="closeFile()"></i>
          </div>
          <div class="show-image" *ngIf="imgUrl !== ''">
            <img [src]="imgUrl" alt="">
          </div>
          <div class="show-pdf" *ngIf="pdfUrl !== ''">
            <embed [src]="pdfUrl" type="application/pdf" />
          </div>
        </div>
        <div *ngIf="!showFile" class="text-red pl-15 pt-10">
          No document has been selected for Preview
        </div>
      </div>
    </div>
  </div>
</div>
