.information-container-box .title {
  height: 36px;
  line-height: 36px;
  background: #f6f3f4;
  color: #361731;
  font-size: 20px;
  padding-left: 10px;
  font-weight: bold;
}

.information-container-box .title i {
  float: right;
  padding-right: 10px;
  color: #999;
  cursor: pointer;
  line-height: 36px;
  transition: all 0.3s ease-in-out;
}

.information-container-box .title i:hover {
  color: #361731;
}

.information-container-box .information-container {
  max-height: 300px;
  overflow-y: auto;
}

.information-container-box .information-box {
  padding: 15px;
  font-size: 14px;
  color: #361731;
}

.information-container-box .actions {
  height: 48px;
  border-top: 2px solid #f6f3f4;
}

.information-container-box .actions > .close-popup {
  width: 80px;
  line-height: 36px;
  height: 36px;
  margin-top: 6px;
  color: white;
  font-weight: bold;
  text-align: center;
  background: #111 !important;
  float: right;
  cursor: pointer;
}

.information-container-box .actions .edit {
  line-height: 36px;
  height: 36px;
  margin-top: 6px;
  text-decoration: underline;
  padding-right: 25px;
  float: right;
  font-size: 16px;
  cursor: pointer;
}

.information-box-panel .mat-dialog-container {
  padding: 5px !important;
  margin: 0 !important;
}

.information-box-panel .mat-dialog-title {
  display: block;
  margin: 0px !important;
}

.information-box-panel .mat-dialog-actions {
  display: block;
  margin-bottom: 0px;
  padding: 0px !important;
}
