.confirm-box-container .title {
  height: 36px;
  line-height: 36px;
  background: var(--primary-color, #111);
  color: white;
  font-size: 20px;
  padding-left: 10px;
  font-weight: bold;
}

.confirm-box-container .title i {
  float: right;
  padding-right: 10px;
  color: white;
  cursor: pointer;
  line-height: 36px;
  transition: all 0.3s ease-in-out;
}

.confirm-box-container .title i:hover {
  color: #ddd;
}

.confirm-box-container .message {
  font-size: 16px;
  padding: 15px;
  min-height: 100px;
}

.confirm-box-container .actions {
  height: 48px;
  text-align: right;
}

.confirm-box-container .actions .btn {
  margin: 0 10px;
  padding: 5px 25px;
}

.confirm-box-panel .mat-dialog-container {
  padding: 5px !important;
  margin: 0 !important;
}

.confirm-box-panel .mat-dialog-title {
  display: block;
  margin: 0px !important;
}

.confirm-box-panel .mat-dialog-actions {
  display: block;
  margin-bottom: 0px;
  padding: 0px !important;
}
