<div class="col-md-12 reset confirm-box-container">
  <div class="col-xs-12 reset title">
      Confirm
      <span (click)="closeDialog(false)">
          <i class="fa fa-times" aria-hidden="true"></i>
      </span>
  </div>
  <div class="col-xs-12 reset message">
      {{message}}
  </div>
  <div class="col-xs-12 actions">
      <div class="btn btn-default" (click)="closeDialog(false)">No</div>
      <div class="btn btn-primary" (click)="closeDialog(true)">Yes</div>
  </div>
</div>
