.approve-reject-container .preview .text-label {
  margin-top: 20px;
  font-size: 0.9em;
  font-weight: bold;
}

.approve-reject-container .preview .text-value {
  padding-left: 15px;
  font-size: 1.1em;
}
