<div class="col-xs-12 reset-margin-padding approve-reject-container">
  <div class="col-md-12 reset-margin-padding preview">
    <div class="col-md-12 reset-margin-padding">
      <h3 class="pull-left reset-margin-padding">
        Travel Request Approval ({{userSelected.requestId}})
      </h3>
      <button class="btn btn-default pull-right mr-20" (click)="goback()">
        <i class="fa fa-chevron-left pr-5" aria-hidden="true"></i>
        back to Dashboard
      </button>
      <button class="btn btn-danger pull-right mr-20" (click)="rejectTravelRequest()">
        <i class="fa fa-times pr-5" aria-hidden="true"></i>
        Reject
      </button>
      <button class="btn btn-success pull-right mr-20" (click)="approveTravelRequest()">
        <i class="fa fa-check pr-5" aria-hidden="true"></i>
        Approve
      </button>
    </div>
    <div class="gap-tp-10" style="border-bottom: 1px solid rgba(0, 0, 0, 0.05);">&nbsp;</div>
    <div class="col-md-12 reset-margin-padding">
      <div class="col-md-12 reset-margin-padding">
        <div class="text-label text-muted">
          Application Type:
        </div>
        <div class="text-value">
          {{userSelected.applicationType}}
        </div>
      </div>
      <div class="col-md-12 reset-margin-padding">
        <div class="text-label text-muted">
          Application Subtype:
        </div>
        <div class="text-value">
          {{userSelected.applicationSubtype}}
        </div>
      </div>
      <div class="col-md-12 reset-margin-padding">
        <div class="text-label text-muted">
          Reason for Travelling:
        </div>
        <div class="text-value">
          {{userSelected.reason}}
        </div>
      </div>
      <div class="col-md-12 reset-margin-padding">
        <div class="text-label text-muted">
          Reason for Travelling Description:
        </div>
        <div class="text-value">
          {{userSelected.reasonDesc}}
        </div>
      </div>
      <div class="col-md-12 reset-margin-padding" *ngIf="userSelected.refDocs.length > 0">
        <div class="text-label text-muted">
          Supporting Documents:
          <span class="btn btn-default ml-10" style="font-size: 0.9em; margin-left: 30px;"
            (click)="openDocumentPreview()">
            Document Preview
          </span>
        </div>
        <div class="col-md-12 reset-margin-padding" *ngFor="let file of userSelected.refDocs">
          <div class="col-md-12 pt-10">
            {{file.filename}} ({{file.size}})
          </div>
        </div>
      </div>
      <div class="col-md-12 reset-margin-padding">
        <div class="text-label text-muted">
          Other relatives (who will travel with):
        </div>
        <div class="col-md-12 reset-margin-padding pt-10" *ngIf="userSelected.relatives.length === 0">
          (No other relative with be travelling with the applicant)
        </div>
        <div class="col-md-12 reset-margin-padding" *ngFor="let file of userSelected.relatives">
          <div class="col-md-12">
            {{file.name}} ({{file.age}}) -- {{file.relative === 'others' ? file.others : file.relative}}
          </div>
        </div>
      </div>
      <div class="col-md-12 reset-margin-padding">
        <div class="text-label text-muted">
          Communication Address:
        </div>
        <div class="text-value">
          {{userSelected.userCommunicationDetails.address}}
        </div>
      </div>
      <div class="col-md-12 reset-margin-padding">
        <div class="text-label text-muted">
          Communication Email:
        </div>
        <div class="text-value">
          {{userSelected.userCommunicationDetails.email}}
        </div>
      </div>
      <div class="col-md-12 reset-margin-padding">
        <div class="text-label text-muted">
          Communication Phone Number:
        </div>
        <div class="text-value">
          {{userSelected.userCommunicationDetails.phone}}
        </div>
      </div>
      <div class="col-md-12 reset-margin-padding">
        <div class="text-label text-muted">
          Allowed Provices:
        </div>
        <span class="text-value" *ngFor="let province of userSelected.selectedProvinceList; let index = index;">
          <span>{{province.name}}</span><span *ngIf="index < userSelected.selectedProvinceList.length - 1">, </span>
        </span>
      </div>
    </div>
    <div class="gap-tp-10">&nbsp;</div>
    <div class="gap-tp-10" style="border-top: 1px solid rgba(0, 0, 0, 0.05);">&nbsp;</div>
    <div class="col-md-12 reset-margin-padding">
      <button class="btn btn-danger pull-right mr-20" (click)="rejectTravelRequest()">
        <i class="fa fa-times pr-5" aria-hidden="true"></i>
        Reject
      </button>
      <button class="btn btn-success pull-right mr-20" (click)="approveTravelRequest()">
        <i class="fa fa-check pr-5" aria-hidden="true"></i>
        Approve
      </button>
    </div>
    <div class="gap-tp-10">&nbsp;</div>
  </div>
  <div class="col-md-12 reset-margin-padding" *ngIf="showDocsPreview">
    <app-preview-docs [documentList]="userSelected.refDocs" (close)="onClose($event)"></app-preview-docs>
  </div>
</div>
