<div class="col-xs-12 reset footer-container">
  <div class="footer">
    <span class="copyright">
      Powered By:
      <img src="./../../../assets/images/sag.png" />
    </span>
    <span class="social-media">
      <span (click)="socialLink('https://www.facebook.com/SoftwareAG/')">
        <i class="fa fa-facebook-official" title="Facebook"></i>
        <span class="social-name">
          Facebook
        </span>
      </span>
      <span (click)="socialLink('https://www.linkedin.com/company/software-ag')">
        <i class="fa fa-linkedin-square" title="Linked In"></i>
        <span class="social-name">
          Linked In
        </span>
      </span>
      <span (click)="socialLink('https://twitter.com/SoftwareAG')">
        <i class="fa fa-twitter" title="Twitter"></i>
        <span class="social-name">
          Twitter
        </span>
      </span>
      <span (click)="socialLink('https://www.youtube.com/user/SOFTWAREAG')">
        <i class="fa fa-youtube-play" title="Twitter"></i>
        <span class="social-name">
          Youtube
        </span>
      </span>
    </span>
  </div>
</div>
