.footer-container {
  height: 30px;
  color: var(--text-color-white);
}

.footer-container .footer {
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--primary-dark);
  color: var(--text-color-white);
}

.footer-container .footer .copyright img {
  padding-left: 5px;
  height: 14px;
}

.footer-container .footer span.social-media {
  float: right;
}

.footer-container .footer span.social-media i {
  width: 30px;
  line-height: 30px;
  margin-left: 5px;
  font-size: 16px;
  background: var(--secondary-dark);
  text-align: center;
  cursor: pointer;
}

.footer-container .footer span.social-media .social-name {
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.footer-container .footer span.social-media .social-name:hover {
  text-decoration: underline;
  color: var(--secondary-dark);
}
