.user-authorised-access {
  height: calc(100vh - 20px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 18px;
  color: #1188ff;
  letter-spacing: 1px;
  background-color: #f2f2f2;
}
