<div class="col-xs-12 reset header-container">
  <div class="logo">
    <img src="./../../../assets/images/FMDLogo.png" alt="" (click)="goHome()">
  </div>
  <div class="logout">
    <a href="/?method=logout">
      Logout
    </a>
  </div>
  <div class="user">
    <i class="fa fa-user-circle"></i>
    <span>
      {{fullname}}
    </span>
  </div>
</div>
