.header-container {
  width: 100%;
  height: 60px;
  line-height: 60px;
  position: fixed;
  background-color: var(--primary-dark);
  z-index: 5000;
}

.header-container .logo {
  height: 50px;
  padding-left: 15px;
  display: inline-block;
  cursor: pointer;
}

.header-container .logo img {
  height: 80%;
}

.header-container .user,
.header-container .logout {
  float: right;
  color: var(--text-color-white);
  padding: 0 20px;
  font-size: 1.5rem;
}

.header-container .logout a {
  color: var(--text-color-white);
}
