.ticket-request-details-container {
  min-height: 400px;
}

.ticket-request-details-container {
  margin: 10px;
  width: calc(100% - 60px);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  box-sizing: border-box;
}

.ticket-request-details-container .gap-tp-10 {
  margin-top: 10px;
}

.ticket-request-details-container .gap-btm-10 {
  margin-bottom: 10px;
}

.ticket-request-details-container .print {
  text-align: right;
}

.ticket-request-details-container .print .btn {
  color: #333;
  background-color: rgba(0, 0, 0, 0.1);
  width: 125px;
  border-radius: 50px;
  height: 36px;
  line-height: 36px;
  border-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.ticket-request-details-container .print .btn:active,
.ticket-request-details-container .print .btn:focus {
  outline: none !important;
}

.ticket-request-details-container .print .btn:hover {
  background-color: white;
  border-color: rgba(0, 0, 0, 0.1);
}

.ticket-request-details-container .print .btn svg {
  height: 24px;
  float: left;
  width: 24px;
  padding: 3px;
}

.ticket-request-details-container .print .btn span {
  height: 24px;
  line-height: 24px;
  display: inline-block;
  float: left;
  padding: 0 10px;
}

.container {
  width: calc(100% - 16px);
}

.container .header {
  height: 36px;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 15px;
}

.container .row-line {
  width: calc(100% - 10px);
  padding: 5px;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.container .content {
  width: 50%;
  float: left;
}

.container .content .label-text {
  color: steelblue;
  font-weight: bold;
  display: inline-block;
  width: 50%;
  float: left;
}

.container .content .data-text {
  color: #333;
  font-weight: normal;
  display: inline-block;
  width: 50%;
  float: left;
}

.container .plain-content {
  width: 100%;
  min-height: 30px;
}

.container .plain-content .label-text {
  display: inline-block;
  color: steelblue !important;
  font-weight: bold;
}

.container .plain-content .data-text {
  display: inline-block;
  color: #333;
  font-weight: normal;
}

@media only screen and (max-width: 780px) {
  .container .row-line {
    border-bottom: none;
  }

  .container .content {
    min-height: 30px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.label-text {
  font-weight: bold;
  color: steelblue !important;
}

.data-text {
  font-weight: normal;
  color: #333;
}
