<div class="col-xs-12 reset-margin-padding ticket-request-details-container">
  <div class="col-xs-12" style="padding-right: 22.5px;">
    <div class="gap-tp-10">&nbsp;</div>
    <div class="print">
      <button class="btn download" (click)="downloadAsPDF()" title="Download As PDF">
        <i class="fa fa-file-pdf-o pull-left" aria-hidden="true" style="margin-top: 5px;"></i>
        <span>Download</span>
      </button>
      <button class="btn btn-default" (click)="goBack()" style="width: 160px;line-height: 26px;margin-left: 15px;">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        back to Dashboard
      </button>
    </div>
  </div>

  <div class="container" id="travelTicketReport">
    <div class="gap-btm-10">&nbsp;</div>

    <div class="header">
      Lorem ipsum dolor sit amet.
    </div>
    <div class="gap-tp-10">&nbsp;</div>
    <div class="row-line">
      <div class="content">
        <div class="label-text">Option 1:</div>
        <div class="data-text">-</div>
      </div>
      <div class="content">
        <div class="label-text">Option 2:</div>
        <div class="data-text">-</div>
      </div>
    </div>
    <div class="row-line">
      <div class="content">
        <div class="label-text">Option3:</div>
        <div class="data-text">-</div>
      </div>
      <div class="content">
        <div class="label-text">Option4:</div>
        <div class="data-text">-</div>
      </div>
    </div>
    <div class="row-line">
      <div class="content">
        <div class="label-text">Option5:</div>
        <div class="data-text">-</div>
      </div>
      <div class="content">
        <div class="label-text">Option6:</div>
        <div class="data-text">-</div>
      </div>
    </div>
    <div class="row-line">
      <div class="content">
        <div class="label-text">Option7:</div>
        <div class="data-text">-</div>
      </div>
      <div class="content">
        <div class="label-text">Address:</div>
        <div class="data-text">Surajit Das, Discovery Gardens, Jabel Ali, Dubai, United Arab Emirates </div>
      </div>
    </div>
    <div class="row-line">
      <div class="content">
        <div class="label-text">Option8:</div>
        <div class="data-text">-</div>
      </div>
      <div class="content">
        <div class="label-text">Option9:</div>
        <div class="data-text">-</div>
      </div>
    </div>
    <div class="row-line">
      <div class="content">
        <div class="label-text">Option10:</div>
        <div class="data-text">-</div>
      </div>
      <div class="content">
        <div class="label-text">Option11:</div>
        <div class="data-text">-</div>
      </div>
    </div>
    <div class="row-line">
      <div class="content">
        <div class="label-text">Option12:</div>
        <div class="data-text">-</div>
      </div>
      <div class="content">
        <div class="label-text">Option13:</div>
        <div class="data-text">-</div>
      </div>
    </div>

    <div class="gap-tp-10">&nbsp;</div>
    <div class="gap-tp-10">&nbsp;</div>
    <div class="header">
      Lorem ipsum / dolor sit amet.
    </div>

    <div class="gap-tp-10">&nbsp;</div>
    <div class="plain-content">
      <div class="label-text">Name: </div>
      <div class="data-text pl-5">Surajit Das</div>
    </div>
    <div class="plain-content">
      <div class="label-text">Email: </div>
      <div class="data-text pl-5">surajit.das@findmore.pt</div>
    </div>
    <div class="plain-content">
      <div class="label-text">Address: </div>
      <div class="data-text pl-5">Surajit Das Surajit Das Surajit Das Surajit Das Surajit Das Surajit Das Surajit Das
      </div>
    </div>
    <div class="plain-content">
      <div class="label-text">Phone: </div>
      <div class="data-text pl-5">+971-12345678</div>
    </div>
    <div class="plain-content">
      <div class="label-text">Country: </div>
      <div class="data-text pl-5">UAE</div>
    </div>

    <div class="gap-tp-10">&nbsp;</div>
    <div class="gap-tp-10">&nbsp;</div>
    <div class="header">
      Result
    </div>

    <div class="gap-tp-10">&nbsp;</div>
    <div class="plain-content">
      <div class="label-text">others: </div>
      <div class="data-text pl-5">abc-xyz-com</div>
    </div>
  </div>
</div>
