.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 200px);
}

.home-container > div {
  height: 100px;
  width: 200px;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background: rgb(114,113,116);
  background: linear-gradient(180deg, rgba(114,113,116,1) 0%, rgba(255,255,255,0.536696319152661) 100%, rgba(0,212,255,1) 100%);
  border-radius: 10px;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  cursor: pointer;
}

.home-container > div:hover {
  background: rgba( 255, 255, 255, 0.20 );
  box-shadow: 0 8px 20px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur(6.0px);
  -webkit-backdrop-filter: blur( 6.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
