.travel-reqeust-dashboard-container {
  min-height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.travel-reqeust-dashboard-container .gap-tp-10 {
  content: "";
  margin-top: 10px;
}

.travel-reqeust-dashboard-container .gap-btm-10 {
  content: "";
  margin-bottom: 10px;
}

.travel-reqeust-dashboard-container .p-15 {
  padding: 15px;
}

.travel-reqeust-dashboard-container .search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.travel-reqeust-dashboard-container .search {
  min-width: 300px;
  width: 400px;
  padding-left: 15px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  height: 36px;
  line-height: 36px;
}

.travel-reqeust-dashboard-container .search > input {
  width: 300px;
  height: 30px;
  background: none;
  border: none;
  outline: none;
}

.travel-reqeust-dashboard-container .search > span.clear {
  font-size: 0.8em;
  color: steelblue;
  text-decoration: underline;
  margin-right: 10px;
  cursor: pointer;
}

.travel-reqeust-dashboard-container .search > span.search-btn {
  height: 30px;
    background: white;
    border-radius: 50%;
    width: 30px;
    margin-top: 3px;
    text-align: center;
    line-height: 30px;
    margin-right: 3px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.travel-reqeust-dashboard-container .header {
  height: 24px;
  line-height: 24px;
  padding-left: 15px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.travel-reqeust-dashboard-container .dashboard {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.travel-reqeust-dashboard-container .dashboard .no-data-found {
  height: 60px;
  line-height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
}

.travel-reqeust-dashboard-container .dashboard .dashboard-data {
  min-height: 36px;
  padding-left: 0;
  padding-right: 0;
}

.travel-reqeust-dashboard-container .dashboard .dashboard-data > div {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 5px;
}

.travel-reqeust-dashboard-container
  .dashboard
  .dashboard-data
  > div:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.travel-reqeust-dashboard-container .dashboard .dashboard-data:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.travel-reqeust-dashboard-container .dashboard .dashboard-data button {
  line-height: 18px;
  height: 19px;
  font-size: 12px;
  padding: 1px 12px;
  text-transform: uppercase;
  float: left;
  cursor: pointer;
}
