<div class="travel-reqeust-dashboard-container">
  <div class="col-xs-12 reset-margin-padding actions">
    <div class="col-xs-3 reset-margin-padding">
      <button class="btn btn-success pull-left" (click)="newTravelRequest()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add New Travel Request
      </button>
    </div>
    <div class="col-xs-6 reset-margin-padding search-container">
      <div class="search">
        <input type="text" placeholder="search..." (keyup)="searchRequestByKB($event)" [(ngModel)]="searchKey" (change)="searchKeyChange()" />
        <span class="search-btn pull-right" (click)="searchReqeust()">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
        <span class="clear pull-right" (click)="clearSearch()" *ngIf="searchKey.trim() !== ''">clear</span>
      </div>
    </div>
    <div class="col-xs-3 reset-margin-padding">
      <button class="btn btn-default pull-right" (click)="goBack()">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        back to Home
      </button>
    </div>
  </div>

  <div class="gap-tp-10"></div>

  <div class="col-xs-12 p-15 dashboard">
    <div class="header">
      Travel Request Dashboard
    </div>
    <div class="col-xs-12 text-red no-data-found" *ngIf="requestData.length === 0">
      * No travel request has been found.
    </div>

    <div class="col-xs-12 dashboard-data" *ngIf="requestData.length > 0">
      <div class="col-xs-1 reset-margin-padding text-bold">
        Application No
      </div>
      <div class="col-xs-1 reset-margin-padding text-bold">
        Request Date
      </div>
      <div class="col-xs-3 reset-margin-padding text-bold">
        Brief Description
      </div>
      <div class="col-xs-3 reset-margin-padding text-bold">
        Other Person details
      </div>
      <div class="col-xs-2 reset-margin-padding text-bold">
        Application Type
      </div>
      <div class="col-xs-1 reset-margin-padding text-bold">
        Status
      </div>
      <div class="col-xs-1 reset-margin-padding text-bold">
        Details
      </div>
    </div>

    <div class="col-xs-12 dashboard-data" *ngFor="let dData of requestData; let index = index;">
      <div class="col-xs-1 reset-margin-padding">
        {{dData.field1}}
      </div>
      <div class="col-xs-1 reset-margin-padding">
        {{dData.field2}}
      </div>
      <div class="col-xs-3 reset-margin-padding">
        {{dData.field3}}
      </div>
      <div class="col-xs-3 reset-margin-padding">
        {{dData.field4}}
      </div>
      <div class="col-xs-2 reset-margin-padding">
        {{dData.field5}}
      </div>
      <div class="col-xs-1 reset-margin-padding">
        {{dData.field6}}
      </div>
      <div class="col-xs-1 reset-margin-padding">
        <button class="btn btn-primary" (click)="viewTicketDetails(dData)">{{actionName}}</button>
      </div>
    </div>
  </div>
</div>
