<div class="col-md-12 reset comment-box-container">
  <div class="col-xs-12 reset title text-uppercase {{type}}">
      {{type}}
      <span (click)="closeDialog(false, '')">
          <i class="fa fa-times" aria-hidden="true"></i>
      </span>
  </div>
  <div class="col-xs-12 reset message">
      <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Provide your comment here..."
                [(ngModel)]="comment"></textarea>
  </div>
  <div class="col-xs-12 reset actions pull-right">
      <button class="btn btn-success" (click)="closeDialog(true, 'approve')" *ngIf="type === 'approve'" [disabled]="comment.trim() === ''">Approve</button>
      <button class="btn btn-danger" (click)="closeDialog(true, 'reject')" *ngIf="type === 'reject'" [disabled]="comment.trim() === ''">Reject</button>
  </div>
</div>
