@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: var(--primary-dark);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.reset,
.reset-margin-padding {
  padding: 0;
  margin: 0;
}

.text-bold {
  font-weight: bold;
}

.cp,
.pointer {
  cursor: pointer;
}

.text-red {
  color: red !important;
}

.p-10 {
  padding: 10px;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.h100px {
  height: 100px;
}

.h-36 {
  height: 36px;
}

.lh-36 {
  line-height: 36px;
}

.lh-40 {
  line-height: 40px !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-300 {
  width: 300px;
}

.w-90-pt {
  width: 90%;
}

.form-style-none {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex;
  align-items: center;
}

.mh-30 {
  min-height: 30px;
}

.lh-30 {
  line-height: 30px;
}

:root {
  --primary-dark: #023047;
  --primary-medium: #219ebc;
  --primary-light: #8ecae6;
  --secondary-dark: #fb8500;
  --secondary-light: #ffb703;
  --text-color-dark: #333;
  --text-color-light: #999;
  --text-color-white: #fff;
  --box-shadow-light: 0px 0px 5px 5px rgba(0, 0, 0, 0.12);
  --box-shadow-medium: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
  --box-shadow-dark: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}
