.create-ticket-container {
  min-height: 400px;
}

.create-ticket-container .slide-container {
  overflow-x: hidden;
}

.create-ticket-container .slide-container .slide-box > div {
  height: calc(100vh - 190px);
  overflow-y: auto;
}

.create-ticket-container .slide-box {
  width: 100%;
  display: flex;
  transition: transform 0.3s;
}

.create-ticket-container .slide-box > div {
  min-width: 100%;
}

.create-ticket-container .header {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 10px;
}

.create-ticket-container .gap-tp-10 {
  content: "";
  margin-top: 10px;
}

.create-ticket-container .title {
  height: 36px;
  line-height: 36px;
  font-weight: bold;
}

.create-ticket-container .mandatory::before {
  content: "*";
  color: red;
}

.create-ticket-container .user-selection select {
  width: 400px;
}

.create-ticket-container .btn {
  padding: 5px 15px;
  border-radius: 50px;
  border-color: rgba(0, 0, 0, 0.1);
  outline: none !important;
}

.create-ticket-container .btn:focus,
.create-ticket-container .btn:active {
  border-color: rgba(0, 0, 0, 0.3);
}

.create-ticket-container .min-ht-40 {
  min-height: 40px;
  padding-top: 8px;
}

.create-ticket-container .change {
  font-size: 0.8em;
}

.create-ticket-container .change input {
  margin-top: 1.5px;
  float: left;
  margin-right: 4px;
}

.create-ticket-container .same-as-permanent {
  font-size: 0.7em;
  color: steelblue;
  cursor: pointer;
  float: right;
  padding-top: 5px;
  text-decoration: underline;
}

.create-ticket-container .file-upload-box {
  background-color: white;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  min-height: 200px;
  position: relative;
  overflow-y: auto;
  border-radius: 5px;
}

.create-ticket-container .file-upload-box .upload-files {
  min-height: 40px;
  line-height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: calc(100% - 10px);
  margin: 5px;
  border-radius: 5px;
}

.create-ticket-container .file-upload-box .upload-files:nth-child(odd) {
  background-color: #f8f8f8;
}

.create-ticket-container .file-upload-box .upload-files:nth-child(even) {
  background-color: #fff;
}

.create-ticket-container .file-upload-box .upload-files:hover {
  background-color: #f2f2f2;
}

.create-ticket-container .no-files {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  position: absolute;
  text-align: center;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.create-ticket-container .file-upload-container {
  padding: 10px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}

.create-ticket-container .file-upload-container + div {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
  border-top: none;
  background-color: white;
  padding: 0 0 10px 10px;
}

.create-ticket-container .file-upload .file-upload-box.active {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: #333 !important;
}

.create-ticket-container .no-files i {
  color: #a8a8a8;
}

.create-ticket-container .validations {
  display: flex !important;
  position: fixed;
  bottom: 0;
  right: 0;
  min-width: 300px;
  min-height: 100px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-end !important;
}

.create-ticket-container .validations .validation {
  min-height: 40px;
  width: max-content;
  padding: 15px 10px 15px 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: white;
  font-weight: bold;
  opacity: 0;
  color: #dc3545 !important;
  margin-bottom: 20px;
  transform: translateX(100% + 50px);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  animation: move 0.2s ease-out forwards;
}

.create-ticket-container .validations .validation:nth-child(1) {
  animation-delay: 0.1s;
}

.create-ticket-container .validations .validation:nth-child(2) {
  animation-delay: 0.2s;
}

.create-ticket-container .validations .validation:nth-child(3) {
  animation-delay: 0.3s;
}

.create-ticket-container .validations .validation:nth-child(4) {
  animation-delay: 0.4s;
}

.create-ticket-container .validations .validation:nth-child(5) {
  animation-delay: 0.5s;
}

.create-ticket-container .validations .validation:nth-child(6) {
  animation-delay: 0.6s;
}

.create-ticket-container .validations .validation:nth-child(7) {
  animation-delay: 0.7s;
}

.create-ticket-container .province {
  max-height: 300px;
}

.create-ticket-container .province .province-title {
  height: 30px;
  line-height: 30px;
}

.create-ticket-container .province .province-list {
  height: 270px;
  min-height: 270px;
  max-height: 270px;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 3px;
  overflow-y: auto;
}

.create-ticket-container .province .province-list .list {
  padding-left: 5px;
  font-size: 0.9em;
  height: 30px;
  padding-top: 5px;
  margin-bottom: 3px;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.create-ticket-container .province .province-list .list.active {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.create-ticket-container .province .province-action {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  flex-direction: column;
}

.create-ticket-container .province .province-action .btn {
  width: 100px;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.create-ticket-container .preview .text-label {
  margin-top: 20px;
  font-size: 0.9em;
  font-weight: bold;
}

.create-ticket-container .preview .text-value {
  padding-left: 15px;
  font-size: 1.1em;
}
