<div class="col-xs-12 reset-margin-padding create-ticket-container">

  <div class="header">
    Create new Travel Request
    <button class="btn btn-default pull-right" (click)="goBack()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      back to Dashboard
    </button>
  </div>

  <div class="gap-tp-10" style="border-top: 1px solid rgba(0, 0, 0, 0.05);">&nbsp;</div>

  <div class="col-md-12 reset-margin-padding slide-container">
    <div class="col-md-12 reset-margin-padding slide-box" [style.transform]="'translateX(' + slideX + '%)'">
      <div class="col-md-12 reset-margin-padding user-selection">
        <div class="title mandatory">
          Application Type
        </div>
        <select [(ngModel)]="userSelected.applicationType" class="form-control">
          <option value="">--Select Application Type--</option>
          <option *ngFor="let atype of applicationType; let index = index;" [value]="atype.type">{{atype.name}}</option>
        </select>

        <div class="gap-tp-10">&nbsp;</div>

        <div class="title mandatory">
          Application Subtype
        </div>
        <select [(ngModel)]="userSelected.applicationSubtype" class="form-control">
          <option value="">--Select Application Subtype--</option>
          <option *ngFor="let astype of applicationSubType; let index = index;" [value]="astype.type">{{astype.name}}
          </option>
        </select>

        <div class="gap-tp-10">&nbsp;</div>

        <div class="title mandatory">
          Reason For Travelling
        </div>
        <select [(ngModel)]="userSelected.reason" class="form-control">
          <option value="">--Select Reason for Travelling--</option>
          <option *ngFor="let rsn of reasonForTravelList; let index = index;" [value]="rsn.type">{{rsn.name}}</option>
        </select>

        <div class="gap-tp-10">&nbsp;</div>
        <div class="gap-tp-10">&nbsp;</div>
        <div class="gap-tp-10">&nbsp;</div>

        <button class="btn btn-default" (click)="navigateTo(2)"
          [disabled]="userSelected.applicationType === '' || userSelected.applicationSubtype === '' || userSelected.reason === ''">
          next
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
      </div>

      <div class="col-md-12 reset-margin-padding additional-user-input">
        <div class="col-xs-12 min-ht-40">
          <span class="text-bold">
            Application Type:
          </span>
          <span>{{userSelected.applicationType}}</span>
        </div>
        <div class="col-xs-12 min-ht-40">
          <span class="text-bold">
            Application Subtype:
          </span>
          <span>{{userSelected.applicationSubtype}}</span>
        </div>
        <div class="col-xs-12 min-ht-40">
          <span class="text-bold">
            Reason For Travelling:
          </span>
          <span>{{userSelected.reason}}</span>
        </div>
        <div class="col-xs-10">
          <div class="text-bold min-ht-40">
            Describe reason for Travelling:
          </div>
          <textarea name="" id="" cols="30" rows="10" class="form-control"
            [(ngModel)]="userSelected.reasonDesc"></textarea>
        </div>

        <div class="gap-tp-10">&nbsp;</div>
        <div class="col-xs-12">
          <div class="gap-tp-10">&nbsp;</div>
          <button class="btn btn-default" (click)="navigateTo(1)">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            prev
          </button>
          <button class="btn btn-default pull-right" (click)="navigateTo(3)"
            [disabled]="userSelected.reasonDesc === ''">
            next
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <div class="col-md-12 reset-margin-padding document-uploads">
        <div class="col-md-12 reset-margin-padding">
          File uploads
        </div>
        <div class="gap-tp-10">&nbsp;</div>

        <div class="col-xs-10 reset file-upload">
          <div class="file-upload-container">
            <div class="file-upload-box" appDragDrop (onFileDropped)="fileDrop($event)">
              <div class="col-xs-12 reset upload-files" *ngFor="let file of userSelected.refDocs; let index = index;">
                <div class="col-xs-6">
                  <span class="text-muted">File Name:</span>
                  <span>
                    {{file.filename}}
                  </span>
                </div>
                <div class="col-xs-6 reset text-center">
                  <div class="col-xs-5">
                    <span class="text-muted">File Size:</span>
                    <span>
                      {{file.size}}
                    </span>
                  </div>
                  <div class="col-xs-6">
                    <span class="text-muted">File Type:</span>
                    <span>
                      {{file.extension}}
                    </span>
                  </div>
                  <div class="col-xs-1 text-right lh-40">
                    <i class="fa fa-trash close lh-40 text-red" (click)="removeFile(index)"></i>
                  </div>
                </div>
              </div>
              <div class="no-files" *ngIf="userSelected.refDocs.length === 0" (click)="clickUploadFile()">
                <i class="fa fa-plus"></i>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="btn btn-default" (click)="clickUploadFile()">
              Upload files...
            </div>
            <input type="file" class="file-upload-input" name="" id="fileUploadInput" multiple
              (change)="uploadFiles($event)" style="display:none;" />
          </div>
          <div style="font-size: 0.8em;">
            (Supported formats are: jpg, png, pdf)
          </div>
        </div>

        <div class="col-xs-12 reset-margin-padding">
          <div class="gap-btm-10">&nbsp;</div>
          <button class="btn btn-default" (click)="navigateTo(2)">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            prev
          </button>
          <button class="btn btn-default pull-right" (click)="navigateTo(4)"
            [disabled]="userSelected.refDocs.length === 0">
            next
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <div class="col-md-12 reset-margin-padding relatives">
        <div class="col-md-12 reset-margin-padding pt-10 pb-10">
          <span class="text-bold">
            Select number of relatives (who will travel along):
          </span>
          <select name="" id="" [(ngModel)]="noOfRelatives" (change)="updateNoOfRelatives()" class="form-control"
            style="display:inline-block; width:auto;">
            <option value="0">--Select No of Relatives--</option>
            <option [value]="rl.id" *ngFor="let rl of maxNoOfRelatives; let index = index;">{{rl.value}}</option>
          </select>
        </div>

        <div class="col-md-12 reset-margin-padding pt-10 pb-10"
          *ngFor="let rel of userSelected.relatives; let index = index;">
          <div class="col-md-4 reset-margin-padding">
            Name: <input type="text" [(ngModel)]="rel.name" class="form-control" />
          </div>
          <div class="col-md-2">
            Age: <input type="number" min="1" max="120" [(ngModel)]="rel.age" class="form-control" />
          </div>
          <div class="col-md-3">
            Relation:
            <select name="" id="" [(ngModel)]="rel.relative" (change)="updateRelation(rel)" class="form-control">
              <option value="0">--Select Relation--</option>
              <option [value]="rl.id" *ngFor="let rl of relations; let index = index;">{{rl.value}}</option>
            </select>
          </div>
          <div class="col-md-3" *ngIf="rel.relative === 'others'">
            (Relation with the person)
            <input type="text" [(ngModel)]="rel.others" class="form-control">
          </div>
        </div>

        <div class="col-md-12 reset-margin-padding">
          <div class="gap-tp-10">&nbsp;</div>
          <button class="btn btn-default" (click)="navigateTo(3)">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            prev
          </button>

          <button class="btn btn-default pull-right mr-15" (click)="navigateTo(5)" [disabled]="disableOnRelatives()">
            next
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <div class="col-md-12 reset-margin-padding others">
        <div class="col-md-12 reset-margin-padding">
          <h3>Address:</h3>
          <div class="col-md-12 reset-margin-padding address">
            <div class="col-xs-4 permanent-address-details">
              <div>
                <div class="h-36 pt-10">Phone Number:</div>
                <input type="text" class="form-control" [(ngModel)]="userSelected.userPermanentDetails.phone"
                  readonly />
              </div>
              <div>
                <div class="h-36 pt-10">Email:</div>
                <input type="text" class="form-control" [(ngModel)]="userSelected.userPermanentDetails.email"
                  readonly />
              </div>
              <div>
                <div class="h-36 pt-10">Permanent Address:</div>
                <textarea class="form-control" cols="30" rows="5"
                  [(ngModel)]="userSelected.userPermanentDetails.address" readonly></textarea>
              </div>
            </div>
            <div class="col-xs-4 communication-address-details">
              <div>
                <div class="h-36 pt-10">
                  <span>Communcation Phone:</span>
                  <span class="pull-right change" *ngIf="samePhone">
                    <input type="checkbox" [(ngModel)]="samePhone" (change)="updatePhone()" /> Change Phone
                  </span>
                  <span class="same-as-permanent" *ngIf="!samePhone" (click)="updatePhoneAsPermanent()">
                    Same as Permanent
                  </span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="userSelected.userCommunicationDetails.phone"
                  [disabled]="samePhone" />
              </div>
              <div>
                <div class="h-36 pt-10">
                  <span>Communcation Email:</span>
                  <span class="pull-right change" *ngIf="sameEmail">
                    <input type="checkbox" [(ngModel)]="sameEmail" (change)="updateEmail()" /> Change Email
                  </span>
                  <span class="same-as-permanent" *ngIf="!sameEmail" (click)="updateEmailAsPermanent()">
                    Same as Permanent
                  </span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="userSelected.userCommunicationDetails.email"
                  [disabled]="sameEmail" />
              </div>
              <div>
                <div class="h-36 pt-10">
                  <span>Communcation Address:</span>
                  <span class="pull-right change" *ngIf="sameAddress">
                    <input type="checkbox" [(ngModel)]="sameAddress" (change)="updateAddress()" /> Change Address
                  </span>
                  <span class="same-as-permanent" *ngIf="!sameAddress" (click)="updateAddressAsPermanent()">
                    Same as Permanent
                  </span>
                </div>
                <textarea class="form-control" cols="30" rows="5"
                  [(ngModel)]="userSelected.userCommunicationDetails.address" [disabled]="sameAddress"></textarea>
              </div>
            </div>
          </div>

          <div class="gap-btm-10">&nbsp;</div>
          <h3>Province:</h3>
          <div class="col-md-6 reset-margin-padding province">
            <div class="col-xs-4">
              <div class="province-title">
                Available Province
              </div>
              <div class="province-list available-province-list">
                <div class="list" *ngFor="let p of availableProvinceList; let index = index;"
                  (click)="clickOnProviceList($event, p, 'avail-list')">
                  {{p.name}}
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="province-action">
                <div class="btn btn-default" (click)="addProvince()">
                  Add
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
                <div class="btn btn-default" (click)="removeProvince()">
                  <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  Remove
                </div>
                <div class="btn btn-default" (click)="removeAllProvince()">
                  <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  Remove All
                </div>
              </div>
            </div>
            <div class="province-title">
              Selected Province
            </div>
            <div class="province-list selected-province-list">
              <div class="list" *ngFor="let p of availableSelectList; let index = index;"
                (click)="clickOnProviceList($event, p, 'selected-list')">
                {{p.name}}
              </div>
            </div>
          </div>
        </div>

        <div class="gap-tp-10">&nbsp;</div>

        <div class="col-md-12 reset-margin-padding">
          <div class="gap-tp-10">&nbsp;</div>
          <button class="btn btn-default" (click)="navigateTo(4)">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            prev
          </button>
          <button class="btn btn-default pull-right mr-30" (click)="preview()" [disabled]="disabledPreview()">
            Preview
            <i class="fa fa-eye" aria-hidden="true"></i>
          </button>
        </div>

        <div class="gap-tp-10">&nbsp;</div>
      </div>

      <div class="col-md-12 reset-margin-padding preview">
        <div class="col-md-12 reset-margin-padding">
          <div class="col-md-12 reset-margin-padding">
            <div class="text-label text-muted">
              Application Type:
            </div>
            <div class="text-value">
              {{userSelected.applicationType}}
            </div>
          </div>
          <div class="col-md-12 reset-margin-padding">
            <div class="text-label text-muted">
              Application Subtype:
            </div>
            <div class="text-value">
              {{userSelected.applicationSubtype}}
            </div>
          </div>
          <div class="col-md-12 reset-margin-padding">
            <div class="text-label text-muted">
              Reason for Travelling:
            </div>
            <div class="text-value">
              {{userSelected.reason}}
            </div>
          </div>
          <div class="col-md-12 reset-margin-padding">
            <div class="text-label text-muted">
              Reason for Travelling Description:
            </div>
            <div class="text-value">
              {{userSelected.reasonDesc}}
            </div>
          </div>
          <div class="col-md-12 reset-margin-padding" *ngIf="userSelected.refDocs.length > 0">
            <div class="text-label text-muted">
              Supporting Documents:
              <span class="btn btn-default ml-10" style="font-size: 0.9em; margin-left: 30px;"
                (click)="openDocumentPreview()">
                Document Preview
              </span>
            </div>
            <div class="col-md-12 reset-margin-padding" *ngFor="let file of userSelected.refDocs">
              <div class="col-md-12 pt-10">
                {{file.filename}} ({{file.size}})
              </div>
            </div>
          </div>
          <div class="col-md-12 reset-margin-padding">
            <div class="text-label text-muted">
              Other relatives (who will travel with):
            </div>
            <div class="col-md-12 reset-margin-padding pt-10" *ngIf="userSelected.relatives.length === 0">
              (No other relative with be travelling with the applicant)
            </div>
            <div class="col-md-12 reset-margin-padding" *ngFor="let file of userSelected.relatives">
              <div class="col-md-12">
                {{file.name}} ({{file.age}}) -- {{file.relative === 'others' ? file.others : file.relative}}
              </div>
            </div>
          </div>
          <div class="col-md-12 reset-margin-padding">
            <div class="text-label text-muted">
              Communication Address:
            </div>
            <div class="text-value">
              {{userSelected.userCommunicationDetails.address}}
            </div>
          </div>
          <div class="col-md-12 reset-margin-padding">
            <div class="text-label text-muted">
              Communication Email:
            </div>
            <div class="text-value">
              {{userSelected.userCommunicationDetails.email}}
            </div>
          </div>
          <div class="col-md-12 reset-margin-padding">
            <div class="text-label text-muted">
              Communication Phone Number:
            </div>
            <div class="text-value">
              {{userSelected.userCommunicationDetails.phone}}
            </div>
          </div>
          <div class="col-md-12 reset-margin-padding">
            <div class="text-label text-muted">
              Allowed Provices:
            </div>
            <span class="text-value" *ngFor="let province of userSelected.selectedProvinceList; let index = index;">
              <span>{{province.name}}</span><span *ngIf="index < userSelected.selectedProvinceList.length - 1">, </span>
            </span>
          </div>
        </div>
        <div class="gap-tp-10">&nbsp;</div>
        <div class="gap-tp-10">
          <input type="checkbox" name="" id="" [(ngModel)]="acceptance">
          <span class="d-inline-block pl-10 mandatory">
            Declaration: I declare that the above information is true and correct
          </span>
        </div>
        <div class="gap-tp-10">&nbsp;</div>
        <div class="gap-tp-10">&nbsp;</div>
        <div class="gap-tp-10" style="border-top: 1px solid rgba(0, 0, 0, 0.05);">&nbsp;</div>
        <div class="col-md-12 reset-margin-padding">
          <button class="btn btn-default" (click)="navigateTo(5)">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            prev
          </button>
          <button class="btn btn-default pull-right mr-20" [disabled]="!acceptance" (click)="sendRequest()">
            Submit
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </button>
        </div>
        <div class="gap-tp-10">&nbsp;</div>
      </div>
    </div>
  </div>
  <div class="col-md-12 reset-margin-padding" *ngIf="showDocsPreview">
    <app-preview-docs [documentList]="userSelected.refDocs" (close)="onClose($event)"></app-preview-docs>
  </div>
</div>
