.message-box-container .title {
  height: 36px;
  line-height: 36px;
  background: var(--primary-color, #111);
  color: #fff;
  font-size: 20px;
  padding-left: 10px;
  font-weight: bold;
}

.message-box-container .title i {
  float: right;
  padding-right: 10px;
  color: #fff;
  cursor: pointer;
  line-height: 36px;
  transition: all 0.3s ease-in-out;
}

.message-box-container .title i:hover {
  color: #361731;
}

.message-box-container .message {
  font-size: 16px;
  padding: 15px;
}

.message-box-container .actions {
  height: 48px;
  border-top: 2px solid #f6f3f4;
}

.message-box-container .actions .close-popup {
  width: 80px;
  line-height: 36px;
  height: 36px;
  margin-top: 6px;
  color: white;
  font-weight: bold;
  text-align: center;
  background: var(--primary-color, #111);
  float: right;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.message-box-panel .mat-dialog-container {
  padding: 5px !important;
  margin: 0 !important;
}

.message-box-panel .mat-dialog-title {
  display: block;
  margin: 0px !important;
}

.message-box-panel .mat-dialog-actions {
  display: block;
  margin-bottom: 0px;
  padding: 0px !important;
}
